@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#login-page{
    margin: 0;
    padding: 0;
    background-color: #7a0c0c;
    overflow: hidden;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 5);
    border-radius: 25px;
}

.login-container h1 {
    text-align: center;
    padding: 0 0 20px 0;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: #ef2a00;
    border-bottom: 1px solid silver;
}

.login-info {
    padding: 0 40px;
    box-sizing: border-box;
}

form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    font-family: 'Righteous', cursive;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label  {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ef2a00;
}

.username input:focus ~ label,
.username input:valid ~ label {
    top: -5px;
    color:  #ef2a00;
}

.field {
    text-align: center;
    font-family: 'Righteous', cursive;
}

.button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    min-width: 200px;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #ef2a00;
    background: linear-gradient(90deg, #ef2a00 0%, #ef2a00 100%);
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin: 25px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(50px + 12px);
    border: 6px solid #ef2a00;
    box-shadow: 0 0 60px #ef2a00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.submit-btn:hover, .submit-btn:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #ef2a00;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover::after, button:focus::after {
animation: none;
display: none;
}

/* Chat Page */

.chat-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    background: rgb(47, 15, 15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 5);
    border-radius: 25px;
}

.chat-container h1 {
    position: absolute;
    top: 16rem;
    left: 12rem;
    font-family: 'Righteous', cursive;
    color: #ef2a00;
}